.list-l{
    color:#1b4f72;
    background-color: #fffacd;
    font-size:18px; 
    font-weight:10px ;
    letter-spacing: 2px;
}
.paragrafo{
    background-color: #f0f0f0;
    font-size: 20px;
}
.font{
    font-family: sans-serif;
}